[paths]
source =
   src/machinelearning
   */site-packages/machinelearning

[run]
branch = true
source =
    machinelearning
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
